# ──────── Channel & APIs ─────────
BOT_TOKEN=your_bot_token
CHANNEL_ID=https://t.me/your_channel
ADMIN_USERNAME=your_telegram_username

# ──────── Proxy Source ──────────
PROXY_URL=https://raw.githubusercontent.com/Grim1313/mtproto-for-telegram/master/all_proxies.txt

# ──────── V2Ray Sources ─────────
VMESS_URL=https://raw.githubusercontent.com/ebrasha/free-v2ray-public-list/refs/heads/main/vmess_configs.txt
VMESS_URL_2=https://raw.githubusercontent.com/barry-far/V2ray-config/main/Splitted-By-Protocol/vmess.txt
VLESS_URL=https://raw.githubusercontent.com/ebrasha/free-v2ray-public-list/refs/heads/main/vless_configs.txt
VLESS_URL_2=https://raw.githubusercontent.com/barry-far/V2ray-config/main/Splitted-By-Protocol/vless.txt
V2RAY_URL=https://raw.githubusercontent.com/ebrasha/free-v2ray-public-list/refs/heads/main/V2Ray-Config-By-EbraSha-All-Type.txt
CONFIG_NAME=ixi-conf

# ──────── Database ──────────────
DB_PATH=polybot.db

# ──────── Ping & Limits ─────────
CHECK_INTERVAL=5
PING_TIMEOUT=5
MAX_PING=250
MAX_PROXY_PER_INTERVAL=6
PROXY_PER_MESSAGE=3
GOLDEN_PING=50
MAX_CONFIG_CHECK=200
MAX_CONFIG_PER_INTERVAL=2
CONFIG_SCORES={"vless":5,"vmess":4,"trojan":3,"ss":0,"hysteria2":0,"hysteria":0,"tuic":0,"wireguard":0}

# ──────── Toggles ───────────────
ENABLE_PANEL=true
ENABLE_PROXIES=true
ENABLE_CONFIGS=true
